/* Header */

#title {
    font-family: 'Racing Sans One', cursive;
    text-align: center;
    font-size: 40px;
    padding: 30px 30px;
    background-color: rgb(47, 53, 107);
    color: #ffffff;
}

/* /Header */

